@{
    ViewData["Title"] = "Vehicle_View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Your App Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Vehicle/Vehicle_Registration">Vehicle_Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Vehicle/Vehicle_List">All Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login/Login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Vehicle ID</th>
                        <td>@Model.Vid</td>
                    </tr>
                    <tr>
                        <th>Vehicle Number</th>
                        <td>@Model.Vno</td>
                    </tr>
                    <tr>
                        <th>Vehicle Price</th>
                        <td>@Model.Vprice</td>
                    </tr>
                    <tr>
                        <th>Vehicle Company</th>
                        <td>@Model.Vcompany</td>
                    </tr>
                    <tr>
                        <th>Date of Purchase</th>
                        <td>@Model.Date_of_Purchase</td>
                    </tr>
                    <tr>
                        <th>Engine Number</th>
                        <td>@Model.Engine_no</td>
                    </tr>
                    <tr>
                        <th>Fuel Type</th>
                        <td>@Model.Fuel_Type</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
