@{
    ViewData["Title"] = "Total_Insurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Your App Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Vehicle/Vehicle_Registration">Vehicle_Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Vehicle/Vehicle_List">All Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login/Login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0 text-center">Total Insurance Premium</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <thead class="thead-light" style="background-color: #f2f2f2;">
                              <tr>
                                <th class="text-center">Parameters</th>
                                <td class="text-center"><b>Value</b></td>
                            </tr>
                           </thead>
                            <tr>
                                <th>Vehicle Number</th>
                                <td><b>@ViewData["Vno"]</b></td>
                            </tr>
                            <tr>
                                <th>Vehicle Age</th>
                                <td>@ViewData["Age"]</td>
                            </tr>                          
                            <tr>
                                <th>Vehicle Price</th>
                                <td>@ViewData["Vprice"]</td>
                            </tr>
                            <tr>
                                <th>Accident Cover</th>
                               <td>@ViewData["Accident_Cover"]</td>
                            </tr>
                            <tr>
                                <th>Legal Libility</th>
                                <td>@ViewData["Legal_Libility"]</td>
                            </tr>
                            <tr>
                                <th>Third Party</th>
                                <td>@ViewData["Third_Party"]</td>
                            </tr>
                            <tr>
                                <th>Depreciation Amount</th>
                                <td>@ViewData["Depreciation_Amount"]</td>
                            </tr>
                             <tr>
                                <th>Insured Declared Amount</th>
                                <td>@ViewData["Insured_Declared_Amount"]</td>
                            </tr>
                            <tr>
                               <th>Own Damage Premium</th>
                               <td>@ViewData["Own_Damage_Premium"]</td>
                            </tr>
                            <tr>
                                <th>No Claim Discount</th>
                                <td>@ViewData["No_Claim_Discount"]</td>
                            </tr>
                            <tr>
                                <th>Total Own Damage Premium</th>
                                <td>@ViewData["Total_Own_Damage_Premium"]</td>
                            </tr>
                            <tr>
                                <th>Net Premium</th>
                                <td>@ViewData["Net_Premium"]</td>
                            </tr>
                              <tr>
                                <th>Service Tax</th>
                                <td>@ViewData["Service_Tax"]</td>
                            </tr>
                            <tr>
                                <th><b style="background-color: yellow;">Total Premium</b></th>
                                <td><b style="background-color: yellow;">@ViewData["Total_Premium"]</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
